body{
	background-image: url("https://farm1.staticflickr.com/1/185679814_0973186141_o_d.jpg");
	background-repeat: no-repeat;
	background-size: 1350px;
	font-family: 'Bangers', cursive;
	font-size: 45px;
	text-align: center;

}
h4{
	color:white;
}

h5{
	color:white;
}

h6{
	color:white;
}