</body>
<footer id="footer">
	<ul class="centered-list">
		<li> <a href="/about"> About </a> </li>
		<li> <a href="/contact"> Contact </a> </li>
	</ul>
</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript" src="/script.js"></script>
</html>