	<footer class='navbar-default navbar-fixed-bottom'>
	  <div class='container'>
		<p class='text-muted'>&copy;2016 Daily Planet. We Own You!</p>
	  </div>
	</footer>
</div><!-- end container -->
</body>
</html>