<!DOCTYPE html>
<html>
<head>
  <title>Express Daily Planet</title>
  <link rel="stylesheet" type="text/css" href="/css.css">
</head>
<body>
<nav>
  <h1>Express Daily Planet</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/articles">Articles</a></li>
    <li><a href="/articles/new">Add Article</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
 
