<!DOCTYPE html>
<html>
<head>
  <title>The Daily Planet</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" </link>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Almendra+SC' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div class="container-fluid">
  <div class="header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="header-big">
      <a class="brand" href="/">The Daily Planet</a>
    </div>
    <div class="header-small">
      <h3> Metropolis's #1 News Source</h3>
    </div>
    <hr>
      <div class="navbar-links">
        <a class="articles" href="/articles">Latest</a>
        <a class="submitArt" href="/articles/new">Submit</a>
        <a class="about" href="/about">About</a>
        <a class="contact" href="/contact">Contact</a>
      </div>
    <hr>
  </div>
</div>

