<!DOCTYPE html>
<html>
<head>
<div class="container">
<div class="row">  
        <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Company Logo</a>
          </div>
            <ul class="nav navbar-nav pull-right">
                  <li><a href="/site/about">About Us</a></li>
                  <li><a href="/site/contact">Contact Us</a></li>
                     <form class="form-search pull-right">
                      <input type="text" class="search-query" placeholder="Search..." />
                    </form>


            </ul>
          </div>
  <title>Yo mamas newspaper</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>