<!DOCTYPE html>
<html>
<head>
  <title>Express Daily Planet</title>
  <!-- Latest compiled and minified CSS & JS -->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav>
    <div class="nav-wrapper">
      <ul class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/articles">View Articles</a></li>
        <li><a href="/articles/new">New Article</a></li>
      </ul>
    </div>
  </nav>