<!DOCTYPE html>
<html>

<head>
	<title>Header</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<style> 
		body {
			background-color: black;
			color: black;
		}

		ul {
			list-style-type: none;
			display: flex;
			justify-content: space-between;
			margin: 30px 300px;
			font-family: Georgia;
		}
	</style>
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=""> Express Daily</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/articles">Articles</a></li>
  <li><a href="/articles/new">Add an article</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>

	

