<!DOCTYPE html>
<html>
<head>
  <title>The Daily Planet</title>
  <style type="text/css">
    a{
      color: black;
      font-style: none;
      font-family: Times New Roman, serif;
    }
  </style>
</head>
<body>
  <header>
    <a href="../">Home</a>
    <a href="/about.ejs">About</a>
    <a href="/contact.ejs">Contact</a>
  </header>