<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<title>Express and Node.js</title>
</head>
<header>
	<div id="brand">
		<h1>Daily Planet</h1>
	</div>
	<div>
		<ul id="nav-menu" class="nav nav-pills">
		  <li role="presentation" class="active menu-item"><a href="/"> Home </a></li>
		  <li role="presentation" class="menu-item"><a href="/articles"> Articles </a></li>
		  <li role="presentation" class="menu-item"><a href="/articles/new"> Add Article </a></li>
		</ul>
	</div>
</header>
<body>

