<nav>
    <li><a href="/">Home</a></li>
    <li><a href="/articles/index">All Articles</a></li>
    <li><a href="/articles/new">Submit New Article</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/contact">Contact Us</a></li>  
</nav>