 <div class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="nav navbar-nav" style="list-style-type: none">
            <li><a class="active" href="../">Express Daily Planet</a></li>
            <li><a class="active" href="/articles">Articles</a>
            <li><a class="active" href="/articles/new">Submit Your Own Story</a></li>
            <li><a class="active" href="/about">About</a></li>
            <li><a class="active" href="/Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>