<nav>
    <ul>
        <li>
            <a href='/'>Home</a>
        </li>
        <li>
            <a href='/articles'>Articles</a>
        </li>
        <li>
            <a href='/articles/new'>Create Article</a>
        </li>
    </ul>
    <form method="GET" action="/search" id="searchbar">
        <label for="query">Search for articles</label>
            <input type="text" name="query" id="query">
        <button type="submit">Search</button>
    </form>
</nav>