<nav>
    <ul>
        <li>
            <a href='/'>Home</a>
        </li>
        <li>
            <a href='/articles'>Articles</a>
        </li>
        <li>
            <a href='/articles/new'>Write</a>
        </li>
        <li>
            <a href='/site/about'>About</a>
        </li>
        <li>
            <a href='/site/contact'>Contact</a>
        </li>
    </ul>
        <form method="GET" action="/search" id="search">
            <input type="text" name="query" id="query" placeholder="Search Articles">
        <button type="submit">Search</button>
    </form>
</nav>