<% include ./partials/header.ejs %>
<div class="row">
<div class="col-md-6 col-md-offset-2">
<h1>About this site</h1>
<p>This is a website, about the daily planet. you can post whatever you want in /new. Go ahead. There's no editoral process. it's so disruptive!!1</p>
</div>
</div>
<% include ./partials/footer.ejs %>