<h1>About the Daily Planet</h1>
<p> The Daily Planet is a news organization, located in the heart of Metropolis. It's one of the most successful news agencies in the city, in addition to being famous for the giant golden globe on top of the Daily Planet building.</p>