<% include ./partials/header.ejs %>
<ul class="nav nav-pills">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/articles">Articles</a></li>
  <li role="presentation"><a href="/contact">Contact</a></li>
  <li role="presentation"><a href="/aboutme">About</a></li>
</ul>
<h1>About Me</h1>
<p>"Skate ipsum dolor sit amet, masonite opposite footed Spanky rock and roll flypaper boneless street pump. Tuna-flip axle set frigid air Primo slide bail camel back pop shove-it. Ho-ho slam manual skate key tail method air invert. Drop in kingpin opposite footed disaster casper frontside air vert Steve Olson."</p>
