<link rel="stylesheet" href="main.css">
<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<div class="container">
<section class="row">
	<h1 .col-md-4>About the Daily Planet</h1>
	<p .col-md-4> The Daily Planet is a news organization, located in the heart of Metropolis. It's one of the most successful news agencies in the city, in addition to being famous for the giant golden globe on top of the Daily Planet building.</p>
	<br>
	<h3.col-md-6 .col-md-offset-3> The Daily Planet employs a dedicated staff of reporters:</h3>

	<p>
		<ul>
			<li class="col-md-8 col-md-offset-4">Bruce Wayne, Business owner </li>
			<li class="col-md-8 col-md-offset-4">Perry White, editor-in-chief </li>
			<li class="col-md-8 col-md-offset-4">Clark Kent, reporter </li>
			<li class="col-md-8 col-md-offset-4">Lois Lane, reporter </li>
			<li class="col-md-8 col-md-offset-4">Lana Lang, business editor </li>
			<li class="col-md-8 col-md-offset-4">Jimmy Olsen, photographer</li>
			<li class="col-md-8 col-md-offset-4">Ron Troupe, reporter</li>
			<li class="col-md-8 col-md-offset-4">Steve Lombard, sports</li>
			<li class="col-md-8 col-md-offset-4">Cat Grant, gossip</li>
			<li class="col-md-8 col-md-offset-4">Chloe Sullivan </li>
			<li class="col-md-8 col-md-offset-4">Richard White </li>
			<li class="col-md-8 col-md-offset-4">Josef Schuman </li>
		<li .col-md-8 col-md-offset-4>Max Mencken, society/theatrical columnist</li>
		</ul>
	</p>
	</section>
</div>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
