<!DOCTYPE html>
<html>
  <head>
    <title>Daily Planet</title>
  <style>
    body{
      text-align: center;
      background-color: gray;
    }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Daily Planet Home</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/articles">Articles</a></li>
        <li><a href="/articles/new">Submit New Article</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
    </nav>
  	<h1>About</h1>

<p>The Daily Planet is a fictional broadsheet newspaper appearing in American comic books published by DC Comics, commonly in association with Superman. The newspaper was first mentioned in Action Comics #23 (April 1940).

The newspaper is based out of the fictional city of Metropolis, and employs Clark Kent, Lois Lane, and Jimmy Olsen, with Perry White as its editor-in-chief. In the Batman: Hush storyline, it is named a subsidiary of Wayne Entertainment. The building's original features appear to be based upon the Old Toronto Star Building, where Superman co-creator Joe Shuster was a newsboy when the Toronto Star was still called the Daily Star. Shuster has claimed that Metropolis was visually inspired by Toronto. However, over the years, Metropolis has served as a fictional analogue to New York City.

The newspaper is said to be located in the heart of Metropolis, at the corner of Fifth Street and Concord Lane. One story claims the Planet began publication in 1775 and that George Washington wrote a guest editorial for the first daily edition. The Daily Planet building's most distinguishing and famous feature is the enormous globe that sits on top of the building.
</p>
   
  </body>
</html>