<% include ../partials/header.ejs %>
	<div class="Container">
		<a href="/articles">Back</a>
		<h3> <%= articles.title %> </h3>
		<p> <%= articles.body %> </p>
	</div>
<% include ../partials/footer.ejs %>