<% include ./partials/header.ejs %>
<ul class="nav nav-pills">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/articles">Articles</a></li>
  <li role="presentation"><a href="/contact">Contact</a></li>
  <li role="presentation"><a href="/aboutme">About</a></li>
</ul>
<h1>Contact Us</h1>
<form>
  <input type="text">
</form>
