<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="main.css">

<div class=row>
	<h1 class=".col-md-8 col-md-offset-4"> Let’s Connect!</h1>
	<h3 class=".col-md-8 col-md-offset-4">COMPANY INFORMATION</h3>
	<h4 class=".col-md-8 col-md-offset-4">MAILING ADDRESS</h4>
	<h5>The Daily Planet</h5>
	<h6>
	LOCATIONS
	<br>
	MAIN OFFICE
	<br>
	Fifth Street and Concord Lane
	<br>
	Metropolis 
	<br>
	555.555.5555
	<br>
	info@dailyplanet.com </h6>
</div>
