<h2 class="text-center">Contact us at Daily Planet</h2>
<ul class="list-group">
  <li class="list-group-item">Visit: Planet Earth</li>
  <li class="list-group-item">Call: 800-DPLANET</li>
  <li class="list-group-item">Email: hi@dailyplanet.com</li>
</ul>