 <% include partials/header.ejs %>

 <h1>Contact</h1>

 <form>
  <input type="text" name="name">
  <input type="text" name="e-mail">
  <input type="submit">
</form>

 <p>&copy; WDI 08</p>

 <% include partials/footer.ejs %>