<% include ./partials/header.ejs%>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="/Articles">Articles</a></li>
  <li role="presentation"><a href="/contact">Contact Us</a></li>
</ul>
<div class="container-fluid">
	<h1 class=".col-md-6 .col-md-offset-3"> Welcome to the Daily Planet</h1>
	<h3 class=".col-md-6 .col-md-offset-3"> Your source for your daily Metropolis news</h3>
</div>
<% include ./partials/footer.ejs %>