<!DOCTYPE html>
<html>
<head>
	<title>Daily Planet News</title>
	<link rel="stylesheet" type="text/css" href="../../CSS/styles.css">
	<link rel="stylesheet" type="text/css" href="../../CSS/material.min.css">
</head>
<body>
<h1> Daily Planet News </h1>
<a href="http://localhost:3000/articles">Click here for a list of articles!</a>
</body>
</html>