<% include ./partials/header.ejs %>

<h2>Daily Planet</h2>
<p>
Welcome to a fake website about a fake newspaper that reports on a fake city in a fake universe. 
</p>
 
<% include ./partials/footer.ejs %> 