<% include partials/header.ejs %>

<div class="container">
<div class="text-center">
<h1>Here's ya KNEWS. <br><small>actually it's just random crap.</small></h1>
	<form>
		 <input type="text" name="search" placeholder="Whatcha wanna see?"> 
	</form>
</div>	
</div>
<% include partials/footer.ejs %>