<% include ./partials/header.ejs%>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="/Articles">Articles</a></li>
  <li role="presentation"><a href="about">About</a></li>
  <li role="presentation"><a href="/contact">Contact Us</a></li>

</ul>


<div class="container-fluid inline-block">
	<section class="row">
		<h1 class=".col-md-8 col-md-offset-4"> Welcome to the Daily Planet</h1>
		<h3 class=".col-md-6 col-md-offset-4"> Your source for your daily Metropolis news</h3>
	</section>
</div>
<div class="container-fluid">
<!-- 	<img class=".col-md-10 col-md-offset-2" src="https://farm1.staticflickr.com/1/185679814_0973186141_o_d.jpg"> -->
</div>
<% include ./partials/footer.ejs %>