<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Joe Mamma's Daily Planet Page</title>
  </head>
  <body>
    <h1>My Article Hotspot</h1>
    <a href="/articles/">Let's see em</a>
  </body>
</html>
