<% include ../partials/header.ejs %>
	<div class="container">
		<h1 class="theDailyPlanet">The Daily Planet!</h1>
		<div class="links">
			<a href="/articles">Articles</a>
			<a href="/about">| About</a>
			<a href="/contact">| Contact</a>
		</div>
		<div class="frontPageImage">
			<img class="dailyPlanet" src="/images/dailyPlanet.jpeg"/>
		</div>
	</div>
<% include ../partials/footer.ejs %>
