<% include partials/header.ejs %>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/">Home</a></li>
  <li role="presentation"><a href="/contact">Contact</a></li>
  <li role="presentation"><a href="/about">About</a></li>
  <li role="presentation"><a href="/articles">Articles</a></li>
  <li role="presentation"><a href="/articles/new">New</a></li>
</ul>

<h1>Express Daily Planet!</h1>
<h2>Man of Steal saves Plane!</h2>
<h3>Once again the enigmatic man-o-steal has saved the lives of countless men, women and children.</h3>

	<div id="frontpic">
		<img style="border-radius: 10%" src="http://pre04.deviantart.net/c829/th/pre/i/2012/186/0/c/superman_saves_jet_to_peru_by_michealoduibhir-d55vfcf.png">
	</div>

	

<% include partials/footer.ejs %>