<% include partials/header.ejs %>

<h1>Express Daily Planet</h1>

<form>
  <input type="text" id="input" value="Enter Text Here" >
  <button type="submit" id="search">Search</button>
</form>
<p>&copy; WDI 08</p>

<% include partials/footer.ejs %>