<% include partials/header.ejs %>

<h1>Daily Planet</h1>

<a href="/articles">Articles</a>
<a href="/articles/new">Submit New Article</a>
<a href="/site/about">About Us</a>
<a href="/site/contact">Contact Us</a>

<% include partials/footer.ejs %>