<% include ./partials/header.ejs%>

<h1> Welcome to the Daily Planet</h1>
<h3> Your source for your daily news</h3>

<button> <a href="/articles" type="button"> Articles </a></button>
<button type="button">Contact Us</button>

<% include ./partials/footer.ejs %>