<!DOCTYPE html>
<html>
  <head>
    <title>Express Daily Planet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <% include ./partials/nav.ejs %>
    <h1 style="text-align:center">Welcome to the Daily Planet!</h1>
  </body>
</html>