<h1>
    WHAT IS UP MY FRIENDS???
</h1>
<%- include('partials/search.ejs') %>
<a href="/articles">
    <button> Show all articles </button>
</a>
<a href="/articles/new"> 
    <button> Create new article </button>
</a>
