<% include partials/header.ejs %>

  <h1>DP</h1>
  <a href="articles">Articles</a>
  <a href="articles/new">Create New Article</a>
  <a href="site/about">About</a>
  <a href="site/contact">Contact</a>
  <a href="site/index">Index</a>
  <p>&copy; 2016 WDI Industries.</p>

<% include partials/footer.ejs %>