<h1>The Daily Planet</h1>

<div class="planet">
    <img class="daily" src="http://cdn.thefiscaltimes.com/sites/default/files/media/the-earth-is-half-on-fire-and-being-destroyed_BjxfkZc8vl.jpg">
</div>