<% include ./partials/header.ejs %>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="/articles">Articles</a></li>
  <li role="presentation"><a href="/contact">Contact</a></li>
  <li role="presentation"><a href="/aboutme">About</a></li>
</ul>
<header>
  <h1>Daily Planet</h1>
</header>
<ul>

</ul>
<% include ./partials/footer.ejs %>

