		<% include ./partials/header %>
	</header>
	<h1 class='text-center'>Daily Planet</h1>
	<div class ='col-lg-6'>
		<p class='text-center'>
			Bacon ipsum dolor amet shankle t-bone leberkas biltong ham short loin beef. Landjaeger sausage pork, shankle brisket doner frankfurter tri-tip corned beef. Chicken salami brisket capicola, bresaola kielbasa pork spare ribs drumstick. Ball tip kielbasa ribeye pork belly leberkas. Tail beef ribs ball tip, capicola ham turducken sirloin pork belly drumstick ground round ribeye boudin meatball. Short loin hamburger beef ribs cow pancetta, brisket jerky leberkas chicken shankle corned beef pork loin boudin rump. Hamburger strip steak chicken, jowl short ribs rump meatloaf drumstick andouille tongue frankfurter kevin. Bacon ipsum dolor amet shankle t-bone leberkas biltong ham short loin beef. Landjaeger sausage pork, shankle brisket doner frankfurter tri-tip corned beef. Chicken salami brisket capicola, bresaola kielbasa pork spare ribs drumstick. Ball tip kielbasa ribeye pork belly leberkas. Tail beef ribs ball tip, capicola ham turducken sirloin pork belly drumstick ground round ribeye boudin meatball. Short loin hamburger beef ribs cow pancetta, brisket jerky leberkas chicken shankle corned beef pork loin boudin rump. Hamburger strip steak chicken, jowl short ribs rump meatloaf drumstick andouille tongue frankfurter kevin.
		</p>
	</div>
	<div class='col-lg-6'>
		<p class='text-center'>
			Bacon ipsum dolor amet shankle t-bone leberkas biltong ham short loin beef. Landjaeger sausage pork, shankle brisket doner frankfurter tri-tip corned beef. Chicken salami brisket capicola, bresaola kielbasa pork spare ribs drumstick. Ball tip kielbasa ribeye pork belly leberkas. Tail beef ribs ball tip, capicola ham turducken sirloin pork belly drumstick ground round ribeye boudin meatball. Short loin hamburger beef ribs cow pancetta, brisket jerky leberkas chicken shankle corned beef pork loin boudin rump. Hamburger strip steak chicken, jowl short ribs rump meatloaf drumstick andouille tongue frankfurter kevin. Bacon ipsum dolor amet shankle t-bone leberkas biltong ham short loin beef. Landjaeger sausage pork, shankle brisket doner frankfurter tri-tip corned beef. Chicken salami brisket capicola, bresaola kielbasa pork spare ribs drumstick. Ball tip kielbasa ribeye pork belly leberkas. Tail beef ribs ball tip, capicola ham turducken sirloin pork belly drumstick ground round ribeye boudin meatball. Short loin hamburger beef ribs cow pancetta, brisket jerky leberkas chicken shankle corned beef pork loin boudin rump. Hamburger strip steak chicken, jowl short ribs rump meatloaf drumstick andouille tongue frankfurter kevin.
		</p>
	</div>
	<footer>
		<% include ./partials/footer %>
	</footer>
