<div class="text-center">
  <h1><a href="/articles">Articles</a></h1>
</div>

<div class="text-center">
  <form action="/articles" method="GET">
    <p>
      Keyword:
    </p>
    <p>
      <input type="text" name="q" />
    </p>
    <p>
      <button type="submit">Search</button>
    </p>
  </form>
</div>
