<!DOCTYPE html>
<html>
<head>
	<title>Daily PLANET</title>
</head>
<body>
	<h1>A Day On A Planet:</h1>
	<a href="/site/about">About Page</a>
	<a href="/site/contact">Contact Me</a>
	<a href="/articles">Articles</a>
</body>
</html>