<!DOCTYPE html>
<html>
<head>
	<title>Daily Planet</title>
</head>
<body>
	<h1>Daily Planet</h1>
	<nav>
		<a href="/">Home Page</a>
		<a href="/articles">View Articles</a>
	</nav>
	<%- body %>	
</body>
</html>