<!DOCTYPE html>
<html>
<head>
	<title>Jacob's News</title>

	<style>
		body {
			background-color : #746594;
			text-align : center;
		}
		h1 {
			color : white;
			font-size : 3em; 
		}
		h3 {
			color : white;
			font-size : 2em;
		}
		ul {
			list-style : none;
			margin-bottom : 10px; 
		}
		ul li {
			margin-bottom : 10px;
		}
		.header {
			background-color : black; 
		}
	</style>

</head>
<body>
	<%- body %> 

	<hr>
	<div>
		My Custom Footer!
	</div>
</body>
</html>