<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>blah</title>
  </head>
  <body>
    <div class="container">
      <%- body %>
    </div>
    <div class="container">
      <a href="/" class = 'btn btn-lrg btn-info'>Home Page</a>
      <a href="/articles" class = 'btn btn-lrg btn-info'>View Articles</a>
      <a href="/controller/about" class = 'btn btn-lrg btn-info'>About</a>
      <a href="/controller/contact" class = 'btn btn-lrg btn-info'>Contact</a>
    </div>
  </body>
</html>
