<!DOCTYPE html>
<html>
<head>
	<title>Daily Planet</title>
</head>

<style type="text/css">
	header {
		padding: 20px;
		font-size: 3em;
		font-weight: bold;
		text-align: center;
	}

	header a, header a:visited {
		text-decoration: none;
		color: black;
	}

	div.links {
		text-align: center;
		padding: 20px;
	}

	div.form {
		padding: 15px;
	}

	h2 {
		text-align: center;
	}

	input.textbox {
		width: 60%;
		padding: 10px;
		margin-left: 10px;
	}

	div.articles {
		text-align: center;
		padding: 20px;
	}
</style>
<body>

<header><a href="/">Daily Planet</a></header>

<%- body %>


</body>
</html>