<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>developer skillz</title>
  </head>
    <body>
      <div class="container">
          <%- body %>
    </div>

    <div class="container">
      <a href="/" class="btn btn-lg btn-primary">Home Page</a>
      <a href="/articles" class="btn btn-lg btn-info">View Articles</a>
    </div>

  </body>
</html>
