<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Planet</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <nav>
    <ul>
      
        <li>
            <a href='/articles'>Articles</a>
        </li>
        <li>
            <a href='/articles/new'>Create Article</a>
        </li>
        <li>
            <a href='/site/contact.ejs'>Contact</a>
        </li>
        <li>
            <a href='/site/about.ejs'>About</a>
        </li>
    </ul>
    <form method="GET" action="/search" id="searchbar">
        <label for="query">Search for articles</label>
            <input type="text" name="query" id="query">
        <button type="submit">Search</button>
    </form>
</nav>
    <%- body %>

</body>
</html>
