<!DOCTYPE html>
<html>
<head>
	<title>The Daily Planet News!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<%-  body %>
	</div>
	<div class="container">
		<a href="/" class="btn btn-lg btn-info">Home Page</a>
		<a href="/" class='btn btn-lg btn-info'>View Article</a>
	</div>
</body>
</html>