<!DOCTYPE html>
<html>
<head>
	<title>Daily Planet</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./public/style.css">
</head>
<body>
	<div class="bg">
		<a href="/" class="btn btn-lg btn-primary">Home</a>
		<a href="/articles" class="btn btn-lg btn-info">Archive</a>
		<div class="container">
			<%- body %>
		</div>
	</div>
</body>

</html>