!DOCTYPE html>
<html>
<head>
 	<title>Daily Planets</title>
</head>

<style type="text/css">

 	header {
 		padding: 20px;
 		font-size: 5px;
 		font-weight: bold;
 		text-align: center;
 	}

header a, header a:visited {
 		color: blue;
 	}

div.links {
 		text-align: center;
 		padding: 20px;
 	}

div.form {
 		padding: 20px;
 	}

h2 {
 		text-align: center;
 	}

input.textbox {
 		width: 60%;
 		padding: 10px;
 		margin-left: 10px;
 	}

div.articles {
 		text-align: center;
 		padding: 20px;

 	}

 </style>
 <body>
 <header><a href="/">Daily Planets</a></header>

 <%- body %>

 </body>
 </html>
