<!DOCTYPE html>
<html>
<head>
<title>daily planet</title>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<div class="container">
	<div id="header">

	<ul class="nav nav-tabs">
	  <li role="presentation"><a href="/">Home</a></li>
	  <li role="presentation"><a href="/articles">All Articles</a></li>
	  <li role="presentation"><a href="articles/new">Add New Article</a></li>
	</ul>

	</div>

	<h1>this is the layout</h1>
		<%- body %>
		<hr>
		<div>
			My custom footer!
		</div>
</div>
</body>
</html>