<!DOCTYPE html>
<html>
<head>
	<title>The Daily Planet</title>
	<style type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></style>
</head>
<body>
	<h1>Welcome to the Daily Planet</h1>
	<div>	
		<a class="btn btn-success" href="/">Home Page</a>
		<a class="btn btn-success" href="/contact">Contact Us</a>
		<a class="btn btn-success" href="/about">About Us</a>
		<a class="btn btn-success" href="/articles">All Articles</a>
		<a class="btn btn-success" href="/articles/new">New Article</a>
	</div>

	<%- body %>	


</body>
</html>