<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="./css/style.css"> 
  <title>Daily Planet</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">DAILY PLANET</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/articles">Posts</a></li>
        <li><a href="/new">Write a Post</a></li>
      </ul>
    </div>
  </nav>

    
    
  <div class="container">
    <img style="height: 200px;" src="https://orig00.deviantart.net/375b/f/2016/105/8/b/daily_planet_logo_1932_prototype_by_noahlc-d9z1kuk.png">
    <%- body %>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>