<!DOCTYPE html>
<html>
<head>
	<title>The Daily Planet</title>
</head>
<body>
	<h1>Welcome to the Daily Planet</h1>
	<%= body %>	

	<div>
		<a href="/">Home Page</a>
		<a href="/articles">All Articles</a>
	</div>
</body>
</html>