<h1>Add a news article to the site</h1>

<form method="POST" action="/articles/new">
	Title:
	<input type="text" name="title" id="title" placeholder="What's the title?">
	<br>
	Desciption: 
	<input type="text" name="body" id="body" placeholder="What is the full story?">
	<br>
	<input type="submit" value="Add Article">
</form>