h1 {
	font-family: 'Abril Fatface', cursive;
	font-weight: bold;
	margin-top: 15px;
}

p {
	font-family: 'PT Serif', serif;
	font-size: 16px;
	margin-top: 20px;
}

.navbar-header {
	font-family: 'PT Serif', serif;
}

.img-circle {
	border: 1px solid black;
}

li {
	list-style: none;
	font-size: 16px;
}