<% include ../partials/header.ejs %>
 
<% articles.forEach(function(article, idx) { %>
  <h2><%= article.title %></h2>
  <a href="/article/<%= idx %>">Link to Article</a>
<% }); %>

<% include ../partials/footer.ejs %> 