<% include ../partials/header.ejs %>
  
  <h1>New Articles</h1>

  <a href="/article">Go back</a>

  <form action="/article" method="POST">
    <input type="text" name="title">
    <input type="text" name="story">
    <input type="submit">
  </form>

<% include ../partials/footer.ejs %>


