
<h1>Full article list</h1>
<div class="pure-menu-list pure-menu">
   <% articleList.forEach(function(item) {%>

         <img class="" src="../ui-edit-profile.svg" width=20 height=20>
         <a href="/articles/<%= item.id%>" class="pure-menu-link">
            <h2 ><%= item.title%></h2>
         </a>

   <%});%>
</div>
