<% include ../partials/header.ejs %>
  <div class="container">
    <h1><%= articles.title %></h1>
    <h2><%= articles.subtitle %></h2>
    <p><%= articles.body %></p>
    <a href="/articles">&larr; Back</a>
  </div>
<% include ../partials/footer.ejs %>