<div>
    <form action="/articles/<%= article.id %>" method="PUT" class="put-form">
        <p>
            Title:
        </p>
        <p>
            <input type="text" name="title" value="<%= article.title %>" />
        </p>
        <p>
            Body:
        </p>
        <p>
            <textarea name="body"><%= article.body %></textarea>
        </p>
        <p>
            <button type="submit">Save</button>
        </p>
    </form>
</div>
