<ul>
<% myArticles.forEach(function(article, index){ %> 
	<li> <a href="/articles/<%= index%>"> <%=article.title %> is a <%= article.body %> </a> </li>
	<%}); %>
</ul>
<link rel="stylesheet" href="/../css/main.css">
<!-- 
<form method="post" action="/articles">
	<label for="title">Title: </label>
	<input type="text" name="title">
	<label for="body">Body: </label>
	<input type="text" name="body">
	<input type="submit" value="submit">
</form> -->

