<h1>ALL ARTICLES</h1>

<% articles.forEach(function(article) { %>
  <div class="col-xs-12">
    <h2>
      <a href="/article/<%= article.id %>"><%= article.title %></a>
    </h2>
    <h4>By <%= article.author %></h4>
    <p><%= article.body %></p>
    <hr>
  </div>
<% }); %>
