<% articles.forEach(function(article) { %>
<div class="row">
  <div class="col-xs-12">
    <p>
      <a href="/articles/<%= article.id %>">
        <h4><%= article.title %></h4>
      </a>
    </p>
    <p><%= article.content %></p>
  </div>
</div>
<hr>
<% }); %>
