<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Articles</title>
  </head>
  <body>
    <ul>
      <% articles.forEach(function(article){ %>
        <li><%= article.title %> - <%= article.body %></li>
    <%  }); %>
    </ul>
  </body>
</html>
