<!DOCTYPE html>
<html>
<head>
  <title>Articles List</title>
</head>
<body>
<h1>Big Ol' Articles List</h1>
<ul>
  <% myArticles.forEach(function(data){ %>
  <li> <%= data.title %> </li>
  <%});%>
</ul>
</body>
</html>