<div class="text-center">
  <h1>Articles</h1>
  <p>Here's a list of articles.</p>
</div>

<div>
  <ul>
    <% for (var i = 0; i < data.length; i++) { %>
      <% if (data[i]) { %>
        <li>
          <a href="/article/<%= data[i].id %>"><%= data[i].title %></a>
          <p>
				    <a href="/article/<%= data[i].id %>/edit">edit</a>
				    <a class="delete-link" href="/article/<%= data[i].id %>">delete</a>
				  </p>
        </li>
        <p>
			  </p>
      <% } %>
    <% } %>
  </ul>
  </div>
