<% include ../partials/header.ejs %>

<ul>
	<% myArticles.forEach(function(articles, index) { %>
		<li><a href="/articles/<%= index %>"><%= articles.title %></a></li>
	<% }); %>
</ul>

<% include ../partials/footer.ejs %>