<h1 id="articlesTitle"> Published Articles </h1>
<a href="/">
    <button> Front Page </button>
</a>
<%- include('../partials/search.ejs') %>
<% if(articles.length) { %>
    <% articles.forEach(article => { %>
        <h2><%= article.title %></h2>
        <h3><%= article.author %></h3>
        <a href="/articles/show/<%= article.id %>">
            <button> Read Article </button>
        </a>
    <% }) %>
<% } else { %>
    <p> There are no published articles</p>
<% } %>
<br>
<a href="/">
    <button> Front Page </button>
</a>