<h1 class="text-center">All the articles you'll ever want</h1>

<% if(results.length <=0){ %>

<%} else {%>
<div class = "articles">
    <% results.forEach(function(item){ %>
		<h1><%= item.title %></h1>
		<p><%= item.body %></p>
    <%});%>
<%}%>