<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>All Articles</title>
</head>
<body>
	<% include ../partials/header.ejs %>
	<h1>All Articles</h1>

	<ul>
		<% articles.forEach(function(article) { %>
			<li>
				<strong><%= article.title %></strong>
			</li>
		<% }); %>
	</ul>
	<div>
		<p><a href="/articles/new">add an article</a></p>
	</div>
</body>
</html>