<% include ../partials/header.ejs %>

<ul>
  <% myArticles.forEach(function(article, index){ %>
  <li><a href="/articles/<%= index %>"><%= article.title %></a></li>
  <% }); %>
</ul>

<% include ../partials/footer.ejs %>

<!-- I was trying to put this between my li tags above: -->
<!-- <a href="/articles/<%= index %>" class="delete-link">Delete</a> -->