<div class="links">
 	<a href="/articles">Articles</a>
</div>

<div class="links">
 	<a href="/articles/new">New Article</a>
</div>

<div class="links">
 	<a href="/articles/show/0">Valid Article?</a>
</div>

<div class="links">
 	<a href="sites/about">About Us</a>
</div>

<div class="links">
 	<a href="sites/contact">Contact</a>
</div>
