<% include ../partials/header.ejs %>
 
 
 <h2>Latest Articles </h2>
 
  <% myArticles.forEach(function(article, index) {  %>
    <div class= "container col-sm-6">
      <h3 class="breadcrumb"><%= article.title %></h3>
      <p><%= article.body %></p>
   </div>
 <%  })  %>

<% include ../partials/footer.ejs %>