<!DOCTYPE html>
<html>
<head>
    <title>All Articles</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <form method="GET" action="">
                <input type="text" name="search" id="search">
            </form>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/new">Submit an article</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <% articles.forEach(function(article) { %>
        <div class="articles z-depth-3">
            <h3><%= article.title %><h3>
            <p><%= article.body %></p>
        </div>
    <% }); %>
</body>
</html>