<!DOCTYPE html>
<html>
  <head>
    <title>All Articles</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <nav>
    <a href="../">Home</a>
    <a href="/articles">Articles</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/articles/new">New Articles</a>
  </nav>
  <body>
    <ul>
      <% articles.forEach(function(article) { %>
      <li><%= article.title %> - <%= article.body %></li>

    <%  }) %>
    </ul>



  </body>
</html>
