<% include ./../partials/header.ejs %>

<ul>
	<% showArticles.forEach(function(article, index){ %>
		<li><a href="/articles/<%= index %>"><%= article.title %></a></li>
	<% }); %>
</ul>

<% include ./../partials/footer.ejs %>