<h1>Articles Archive</h1>

<% if(articles.length) { %>
    <% articles.forEach(art => { %>
        <h2><%= art.title %></h2>
        <h3><%= art.author %></h3>
        <p><%= art.content %></p>
        <form method="POST" action="/delete">
            <input type="hidden" name="id" value="<%= art.id %>">
            <button type="submit">delete</button>
        </form>
        <hr>
    <% }) %>

<% } else { %>
    <h2>Nothing to see here!</h2>
<% } %>