<!DOCTYPE html>
<html>
  <head>
    <title>All Articles</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <header>
  </header>
  <body>
    <ul>
      <% articles.forEach(function (article) { %>
        <li><%= article.title %> - <%= article.body %></li>
      <% }); %>
    </ul>
  </body>
</html>
