<% include ../partials/header.ejs %>

<h1> The latest from The Daily Planet </h1>

<ul>
  <% myArticles.forEach(function(article, index){ %>
    <li> <%= article.title %> by <%= article.byline %> </li>
   <% }); %>
</ul>

<% include ../partials/footer.ejs %>
