<!DOCTYPE html>
<html>
<head>
	<title>New Articles</title>
	<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div class='container'>
		<h1>New Article</h1>
		<form action="/articles" method="post">
			
			<label>Title:</label>
			<input type="text" name="title"><br>
			
			<label>Body:</label>
			<input type="text" name="body"><br>

			<input type="submit">

		</form>
		<a href="/articles/">Home</a>
	</div>
	
</body>
</html>