<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>

	<h1>GOOD AFTERNOON (this is new.ejs)</h1>

	<form method="POST" action="/">
		<div>
			Article Title:
			<input type="text" name="title" placeholder="Article Title">
		</div>
		<div>
			Article Text:
			<input type="textarea" name="body" placeholder="Text of the article">
		</div>
		<div>
			<input type="submit" value="Add new article">
		</div>


	</form>

</body>
</html>