<form method="POST" action="/articles">
  <label for="artileTitle">Title</label>
  <br>
  <input type="text" name="title">
  <br>
  <label for="articleBody">Body</label>
  <br>
​  <input type="text" name="body">
  <input id="article" type="submit">
</form>