<h1>Please submit your news article below</h1>
<form method="POST" action="/articles">
	<h3>Title</h3>
	<input type="text" name="title">
	<h3>Content</h3>
	<input type="text" name="content">
	<h3>Author</h3>
	<input type="text" name="author">
	<button type="submit">Submit Article</button>
</form>