<form method="POST" action="/articles">
  <label for="">Article</label>
  <input name='title' type="text">
  <label for="">body</label>
  <input name='body' type="text">
  <input type="submit">
</form>