
<h3>Add a New Article</h3>
<br>
<form method="post" action="/articles">
  <div style="margin: 5px 0">
    Article:
    <input type="text" name="title" placeholder="Article Title Here" style="width: 300px">
  </div>
  <div style="margin: 5px 0">
    Article Content:
    <input type="text" name="body" placeholder="Article content here" style="width: 500px;">
  </div>
  <div style="margin: 5px 0">
    <input type="submit" value="Add Article" style="color:black;" class="btn-danger">
  </div>
</form>
