<h1>display a form which creates a new article</h1>

<form action="/articles" method="post">
  
  <div class="form-group">
     <label for="title"></label>
     <input class="form-control" type="text" name="title" placeholder="Title">
 
  </div>

  <div class="form-group">
    <label for="content"></label>
    <textarea class="form-control" type="textarea" name="body" placeholder="Content"></textarea>

  </div>
  <input type="submit" value="Post Article" class="btn - btn-success">
</form>