<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style>
      body {
        padding: 0px;
        margin: 0px;
        text-align: center;
      }

      header {
        background-color: #000000;
      }

      h1 {
        font-family: Times;
        color: #FFFFFF;
      }

      a {
        color: #FFFFFF;
      }

      form {
        margin: 20px;
        padding: 5px;
      }

      input {
        margin: 0 0 20px 0
      }

      div {
        display: inline-block;
        padding: 5px;
        margin: 5px;
      }
      </style>
  </head>
  <body>
    <header>
      <div><a href='/articles/new'>Submit a Story</a></div>
      <div><a href='/articles'>Today's Top Stories</a></div>
      <div><h1><a href='/'>Express Daily Planet</a></h1></div>
      <div><a href='/about'>About the Planet</a></div>
      <div><a href='/contact'>Contact Us</a></div>
    </header>
    <form method='POST' action=''>
      <label for='articleTitle'>Title:</label>
      <input id='articleTitle' type='text' name='title'>
      <br />
      <label for='articleBody'>Body:</label>
      <input id='articleBody' type='text' name='body'>
      <br />
      <input type='submit' value='Submit Your Story'>

    </form>
  </body>
</html>
