<div>
	<h1>Add a new article</h1>
</div>
<form method="post" action="/articles">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="body" placeholder="body">
  <input type="submit">
</form>