<h2 class="text-center">New Article</h2>
<form method="POST" action="/articles">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" name="title" placeholder="topic of article" class="form-control">
  </div>
  <div class="form-group">
    <label for="body">Content:</label>
    <textarea name="body" class="form-control"></textarea>
  </div>
  <input type="submit" value="Create Article" class="btn btn-success">
  <br>
  <br>

</form>
