<!DOCTYPE html>
<html>
<head>
	<title>Post a New Article</title>
</head>
<body>
	<form method="POST" action="/articles/new">
		<label for='articleTitle'>Title</label>
		<input id='articleTitle' type='text' name='title'>

		<label for='articleBody'>Body</label>
		<input id='articleBody' type='text' name='body'>

		<input type='submit' value="Submit Article">
	</form>
</body>
</html>