<form action="/articles/5" method="post">
  <fieldset>
    <legend>Create a new listing</legend>
    <label>
      Title: <br>
      <input name="title" />
    </label>
    <label>
      Body:
      <input name="body" />
    </label>
    <input type="submit" value="Create Post" />
  </fieldset>
</form>