<!DOCTYPE html>
<html>
<head>
	<title>Add Article form</title>
</head>
<body>
	<h1>Create a new Article</h1>
	<form>
		<div>
			<p>Enter the title of your article</p>
			<input type="text" name="title" id="title" placeholder="title">
		</div>
		<div>
			<p>Enter the body of your article</p>
			<input type="text" name="body" id="body" placeholder="body">
		</div>
		<div>
			<input type="submit">
		</div>
	</form>

</body>
</html>