<h2 class=>Add new interesting article</h2>

<form class="form" method="POST" action="/articles/new">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" class="form-control" placeholder="Type the title of the article">
  </div>
  <div class="form-group">
    <label for="body">Body of Article:</label>
    <input type="text" name="body" id="body" class="form-control" style="height: 300px;">
  </div>
  <input type="submit" class="btn btn-success" value="Add New Article">
</form>
