<% include ../partials/header.ejs %>
  <h1>Submit New Article Dawg</h1>
  <form method="POST" action="/articles">
    <label for="articleTitle">Title</label>
    <input type="text" name="title">

    <label for="articleBody">Body</label>
    <input type="text" name="body">

    <input type="submit">
  </form>

</body>
</html>