<% include ../partials/header.ejs %>

<h1>New Article</h1> 

<form action="/articles" method="POST">
  <input type="text" name="title" placeholder="Article Title">  
  <input type="text" name="body" placeholder="Article Body">
  <input type="submit">
</form> 

<p>&copy; 2016 WDI Industries.</p>

<% include ../partials/footer.ejs %>