<!DOCTYPE html>
<html>
<head>

	<title>New articles</title>
</head>
<body>


	<form method="POST" action="/articles">
			<label for="title">Title</label>
			<input id="title" type="text" name="title">
			<label for="body">Body</label>
			<input id="body" type="text" name="body">

			<input type="submit" value="Submit Your Article">
	</form>

</body>
</html>