<% include ../partials/header.ejs %>

<div class="container">
    <h1>New Article</h1>
    <form action="/articles" method="POST">
      <label>Title:</label>
      <input type="text" name="name">

      <label>Body:</label>
      <input type="text" name="type">

      <input type="submit">
    </form>
  </div>

<% include ../partials/footer.ejs %>