<h1>This will be a form for new articles</h1>
<form method="POST" action="/articles">
  <label for="title-content">Title</label>
  <input type="string" name="title">

  <label for="body-content">Article Content</label>
  <input id="body-content" type="text" name="body">

  <input id="title-content" type="submit">
</form>