<% include ../partials/header.ejs %>


<h1> What's the tip, ace?</h1>

<form method="post" action="/articles"> 
  <input type="text" name="title" placeholder="title">
  <input type="text" name="byline" placeholder="your name">
  <input type="text" name="body" placeholder="the good stuff">
  <input type="submit">
</form>

<% include ../partials/footer.ejs %>
