<% include ../partials/header.ejs %>

<div class="container">
  <h1>New Article</h1>
    <form action="/articles" method="POST">
 	  <label>Title:</label>
 	    <input type="text" name="title">
 	  <label>Body:</label>
 	    <input type="textbox" name="body">
 	  <input type="submit" class="btn btn-default">
 	</form>

<% include ../partials/footer.ejs %>