


<!DOCTYPE html>
<html>
<head>
	<title>Daily Planet News</title>
	
</head>
<body>

<form method="POST" action="/articles">
	<div>
		Article Title:
		<input type="text" name="title" placeholder="Type your article here!">
	</div>
	<div>
		Article Body:
		<input type="text" name="body" placeholder="What is it about?">
	</div>
	<div>
	<input type="submit" value="ADD ARTICLE">
	</div>
</form>

<p> After submiting, you will be redirected to the previous article list. </p>

<a href="http://localhost:3000/articles/index">Click here to go back!</a>

</body>
</html>