<h2>Create a New Article</h2>

 <form method="POST" action="">
 	<div class="form">
 		Article Name:
 		<input type="text" class="textbox" name="name" placeholder="Add an article name here.">
 	</div>
 	<div class="form">
 		Article Content:
 		<input type="text" class="textbox" name="content" placeholder="Add the article's content here.">
 	</div>
 	<div class="form">
 		<input type="submit" value="Sumbit New Article">
 	</div>

 </form>
