<!DOCTYPE html>
<html>
  <head>
    <title>New</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <lable for="articleTitle">Title</lable>
      <input type="text" id="articleTitle" name="title">
      <label for="articleBody">Body</lable>
      <input type="text" id="articleBody" name="body">
      <input type="submit" value="Submit Article">
    </form>
  </body>
</html>
