
<!DOCTYPE html>
<html>
  <head>
    <title>Create Your Article</title>
  </head>
  <body>
    <form method="POST" action="/articles">
      <label for="articleTitle">Title</label>
      <input id="articleTitle" type="text" name="title">

      <label for="articleBody">Article</label>
      <input id="articleBody" type="text" name="body">

      <input type="submit" value="Submit Article">
    </form>
  </body>
</html>