<h1>Write For Us</h1>
<h2>No, seriously, DO IT!</h2>

<p>Put that syntactically advanced brain of yours to work and get going on a new piece for us. We don't pay for the first five.</p>

<div>
<form method="POST" action="/articles" id="formy">
        <input type="text" name="title" placeholder="Title of This Piece" id="query">
        <br />
        <input type="text" name="author" placeholder="Your Name Here" id="query">
        </br />
        <textarea for="query" name="content" form="formy" id="query"></textarea>
        <br />
        <button type="submit">Submit Article</button>
</form>
</div>
