<% include ../partials/header.ejs %>


<h1>Have an interesting story?</h1>


<h2>Tell us below!</h2>


<form method="post" action="/articles">
  <input type="text" name="title" placeholder="Article Title">
  <input type="text" name="body" placeholder="Article">
  <input type="submit">
</form>

<% include ../partials/footer.ejs %>