<h1> Create a new article </h1>
<form method="POST" action="/articles">
    <div>
        <label for="title"> Article Title</label>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <input type="text" name="content" id="content">
    </div>
    <div>
        <label for="author"> Your Name </label>
        <input type="text" name="author" id="author">
    </div>
    <button type="submit">Submit Article</button>
</form>