<h2><%= article.title %></h2>
<p>
    <%= article.body %>
</p>
<p>
    <a href="/articles/<%= article.title %>/edit">edit</a>
    <a class="delete-link" href="/articles/<%= article.body %>">delete</a>
</p>
