<h1>Search Results</h1>
<% articles.forEach(a => { %>
    <div class="article">
        <p>Title: <%= a.title %></p>
        <p><%= a.content %></p>
        <p>By:<%= a.author %></p>
    </div>
<% }) %>