<% include ../partials/header.ejs %>

<% results.forEach(function(article, idx) { %>
  <h2><%= article.title %> </h2>
  <a href="/articles/<%= idx %>">View article</a>
<% }); %>

<% include ../partials/footer.ejs %>