<!DOCTYPE html>
<html>
<head>
  <title><%= article.title %></title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <nav>
    <a href="../">Home</a>
    <a href="/articles">Articles</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/articles/new">New Articles</a>
  </nav>

<h1> <%= article.title %></h1>
<p> <%= article.body %> </p>

</body>
</html>
