<!DOCTYPE html>
<html>
<head>
  <title>Find by id</title>
</head>
<body>
  <ul>
    
        <li>
          <%= myArticles.title %> <br>
          <%= myArticles.body %>
        </li>
  </ul>

</body>
</html>