<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../style.css">
	<title>Display article</title>
</head>
<body>
	<% include ../partials/header.ejs %>
	<h1>Display Article</h1>
	<div>
		<p>Article Title</p>
		<%= title %>
	</div>
	<div>
		<p>Article Body</p>
		<%= body %>
	</div>
</body>
</html>