<h1>Search Results</h1>


<% articles.forEach(a => { %>
    <div class="searchRes">
        <h2><%= a.title %></h2>
        <h3><%= a.author %></h3>
        <p><%= a.content %></p>
        
    </div>

<% }) %>


<h2>End of Results</h2>