<!DOCTYPE html>
<html>
<head>
	<title>Display article</title>
</head>
<body>
	<h1>Display Article</h1>
	<div>
		<p>Article Title</p>
		<%= title %>
	</div>
	<div>
		<p>Article Body</p>
		<%= body %>
	</div>
</body>
</html>