<!DOCTYPE html>
<html>
<head>
	<title>Daily Planet News</title>
	<link rel="stylesheet" type="text/css" href="../../styles.css">
	<link rel="stylesheet" type="text/css" href="../../material.min.css">
</head>
<body>

 <h1> <%= myArticle.title %> </h1>
 <p> <%= myArticle.body %> </p>

</body>
</html>