<% include ../partials/header.ejs %>
<div class="row">
<div class="col-md-6 col-md-offset-2">
<h1><%= articleList.title %></h1> <p><%= articleList.body %></p>
</div>
</div>
<% include ../partials/footer.ejs %>