<% include ../../views/partials/header.ejs %>
<body>
	<div class='container'>
			<h1><%= article.title %></h1>
			<p><%= article.body %></p>
			<a href="/articles">&larr;Back</a>
	</div>
<% include ../../views/partials/footer.ejs %>