<% include ../partials/header.ejs %>

  <h1><%= data.title %></h1>

  

  <p><%= data.body %></p>
  <a href="/articles">Articles</a>

  <p>&copy; 2016 WDI Industries.</p>

<% include ../partials/footer.ejs %>