<div class="col-xs-12">
  <h1><%= article.title.toUpperCase(); %></h1>
  <h3>By <%= article.author %></h3>
  <h4 class="text-justify"><%= article.body %></h4>
  <hr>
  <button class="btn btn-primary" onclick="window.location.href=window.location.pathname + '/edit'">Edit <i-glyphicon class="glyphicon glyphicon-pencil"></i></button> <button class="btn btn-default" onclick="window.location.href='/articles'">Back to ARTICLES <i-glyphicon class="glyphicon glyphicon-list"></i></button>
</div>
