<div class="row">
  <div class="col-xs-12">
    <h4>
      <%- article.title %>
    </h4>
    <p>
      <%- article.body %>
    </p>
    <a href="/articles/<%- article.id %>/edit" class="btn btn-xs btn-warning">Edit</a>
    <a href="/articles/<%- article.id %>" class="btn btn-xs btn-danger delete-link">Delete</a>
  </div>
</div>
