<div>
    <div>
        <% articles %>
            <h2> <%= articles.id %> </h2>
           <h2> <%= articles.title %> </h2>
           <h2> <%= articles.author %> </h2>
           <h2> <%= articles.content %> </h2>
           <hr>
        </div>
</div>