<% include ../partials/header.ejs %>
<div class="centerit">
<h1 class="center-text"><%= myArticle.title %></h1>
<p class="center-text"><%= myArticle.body %></p>
</div>

<% include ../partials/footer.ejs %>