<% include ../partials/header.ejs %>

<div class="col-md-offset-2 col-md-8 col-md-offset-2">


  <h1><%= myArticles.title %></h1> 
  <p>by <%= myArticles.byline %></p>
  <p><%= myArticles.body %></p>

</div>

<% include ../partials/footer.ejs %>
