<!DOCTYPE html>
<html>
  <head>
    <title><%= thisStory.title %></title>
    <link rel="stylesheet" type='text/css' href="style.css">
  </head>
  <body>
    <header>
      <div><a href='/articles/new'>Submit a Story</a></div>
      <div><a href='/articles'>Today's Top Stories</a></div>
      <div><h1><a href='/'>Express Daily Planet</a></h1></div>
      <div><a href='/about'>About the Planet</a></div>
      <div><a href='/contact'>Contact Us</a></div>
    </header>
    <div><h1>All Articles</h1></div>
    <h1><%= thisStory.title %></h1>
    <p><%= thisStory.body %></h1>
  </body>
</html>
