<html>
   <head>
      <meta charset="utf-8">
      <title>Daily Planet Express</title>
   </head>
   <body>
      <h1><%=article.title%></h1>
      <p>
         <%=article.body%>
      </p>
   </body>
</html>
