<% include ../partials/header.ejs %>

<h3>About the Daily Planet</h3>
<p>The Daily Planet was founded in 1775. It is located in Metropolis, on the corner of Fifth Street and Concord Lane</p>



<% include ../partials/footer.ejs %>