<% include ../partials/header.ejs %>

<div class="container">
<div class="jumbotron" id="about-jumbo">
  <h1>We like to write.</h1>
</div>
  <p>
    Locavore cred aesthetic, shabby chic fixie gluten-free quinoa. Before they sold out ugh DIY, pickled drinking vinegar biodiesel cornhole hella. Kitsch pork belly polaroid tumblr aesthetic gochujang. Post-ironic hella listicle, direct trade intelligentsia lo-fi tacos fap tousled kale chips mlkshk locavore. Sartorial cardigan distillery +1 plaid. Pug echo park shabby chic, swag kickstarter man braid small batch deep v blue bottle. Plaid fingerstache kombucha fixie, whatever narwhal four dollar toast hella gentrify stumptown kitsch 8-bit chicharrones.
  </p>
  <p>
    Blog +1 vegan everyday carry brooklyn four dollar toast, paleo tofu fingerstache irony. Schlitz chia health goth ugh, chicharrones cold-pressed franzen fixie selfies before they sold out butcher four dollar toast. Occupy kombucha letterpress food truck, poutine PBR&B sartorial bushwick pork belly brooklyn migas cliche selvage. Offal mustache put a bird on it, portland knausgaard heirloom four dollar toast crucifix affogato pickled. Cred cold-pressed locavore heirloom selfies lomo, small batch meggings. Pour-over tumblr hashtag, dreamcatcher lo-fi brunch next level fashion axe pinterest celiac everyday carry. Lomo PBR&B 3 wolf moon butcher artisan direct trade.
  </p>
  <p>
    Trust fund williamsburg selfies, hashtag literally bushwick cliche authentic helvetica venmo. Photo booth farm-to-table cred, everyday carry readymade occupy austin godard polaroid ugh crucifix ramps fingerstache vice kickstarter. Pinterest crucifix small batch stumptown, etsy distillery jean shorts affogato readymade. Crucifix kickstarter echo park, gastropub narwhal pinterest scenester brunch art party kitsch bushwick trust fund 8-bit organic meditation. Keffiyeh humblebrag cray viral chambray dreamcatcher. Put a bird on it PBR&B leggings, banjo seitan roof party listicle keytar everyday carry irony. Etsy kinfolk literally skateboard wolf viral.
  </p>

</div>

<% include ../partials/footer.ejs %>