<% include ../partials/header.ejs %>
<div class="col-md-offset-2 col-md-8 col-md-offset-2">

  <h1> About the Daily Planet </h1>

  <p> The Daily Planet is a broadsheet newspaper. The newspaper is based out of the city of Metropolis, and employs Clark Kent, Lois Lane, and Jimmy Olsen, with Perry White as its editor-in-chief. It is a subsidiary of Wayne Entertainment.</p>

  <p>The building's original features appear to be based upon the Old Toronto Star Building. Over the years, Metropolis has served as an analogue to New York City.</p>

  <p>The newspaper is located in the heart of Metropolis, at the corner of Fifth Street and Concord Lane. One story claims the Planet began publication in 1775 and that George Washington wrote a guest editorial for the first daily edition. The Daily Planet building's most distinguishing and famous feature is the enormous globe that sits on top of our building.</p>
</div>

<% include ../partials/footer.ejs %>


