<% include ../partials/header.ejs %> 

<h1>About Us</h1>
<p>We are here giving you real ass information about the world. We are all gonna die if we don't take action. Wanna know what we're about? We're about not dying!</p>

<% include ../partials/footer.ejs %> 