<% include ../partials/header.ejs %>

<h1 id="about">ABOUT THE DAILY PLANET</h1>

<p id="aboutText">The Daily Planet is a fictional broadsheet newspaper appearing in American comic books published by DC Comics, commonly in association with Superman. The newspaper is based out of the fictional city of Metropolis, and employs Clark Kent, Lois Lane, and Jimmy Olsen, with Perry White as its editor-in-chief. It is a subsidiary of Wayne Entertainment.</p>


<% include ../partials/footer.ejs %>