<% include ../partials/header.ejs %>

<div class="container">
  <h2>About Daily Planet</h2>
  <p>Newpaper old stuff ssuperman j/k Clarck Kent and others like Lois write cool stuff here. Maybe, but who knows, never read an article from them.</p>
</div>

<% include ../partials/footer.ejs %>