<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/new">Submit an article</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div id="container">
        <h1>About the Daily Planet</h1>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti fugiat maxime sunt unde in, repudiandae maiores officiis debitis libero, optio necessitatibus temporibus numquam rerum beatae nisi eveniet quo asperiores doloribus!
        </div><br>
        <div>Consequatur velit, eos quod sint facere quo minus omnis cumque nesciunt, odio ullam ex voluptas consequuntur accusantium praesentium necessitatibus! Eveniet non doloribus laborum pariatur reprehenderit modi, accusamus dolorum fuga fugiat.
        </div><br>
        <div>Eum in a corrupti iusto molestias voluptate repudiandae sint, aliquam, voluptates quos nulla esse illo ipsa. Quis cumque saepe officia ipsam architecto perferendis qui, ex iusto vel, blanditiis cum laboriosam.
        </div><br>
    </div>
</body>
</html>