<!DOCTYPE html>
<html>
  <head>
    <title>About Daily Planet</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/articles">Articles</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="articles/new">New Articles</a>
    </nav>
  <h1>About the Daily Planet</h1>
  <p>It's great!</p>

  </body>
</html>