<% include ../partials/header.ejs %>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/contact">Contact</a></li>
  <li role="presentation" class="active"><a href="/about">About</a></li>
  <li role="presentation"><a href="/articles">Articles</a></li>
</ul>
<h1>About</h1>
<h3>The greatest newpaper on the PLANET and you exclusive source of all things SUPER-MAN related.</h3>

<% include ../partials/footer.ejs %>