<!DOCTYPE html>
<html>
  <head>
    <title>Express Daily Planet - About</title>
    <link rel="stylesheet" type='text/css' href="style.css">
  </head>
  <body>
    <header>
      <div><a href='/articles/new'>Submit a Story</a></div>
      <div><a href='/articles'>Today's Top Stories</a></div>
      <div><h1><a href='/'>Express Daily Planet</a></h1></div>
      <div><a href='/about'>About the Planet</a></div>
      <div><a href='/contact'>Contact Us</a></div>
    </header>
    <div><h1>About Us</h1></div>
    <p>We are here to give you news about all things Daniel. It's not very interesting. You probably shouldn't read it.</p>
  </body>
</html>
