<!DOCTYPE html>
<html>
  <head>
    <title>About Express Daily Planet</title>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h2>About Express Daily Planet!</h2>
          <img style="float:right; max-width: 50vw; padding: 10px;" src="https://images.unsplash.com/photo-1467803738586-46b7eb7b16a1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=acc687ac541051e6d5dfdca229f97eb7&auto=format&fit=crop&w=889&q=80" />
          <p>
            Lorem ipsum dolor amet wolf slow-carb gentrify succulents try-hard mustache gluten-free. YOLO tousled pitchfork gastropub gentrify vaporware activated charcoal godard small batch iPhone vice before they sold out pinterest. Chicharrones YOLO 3 wolf moon vinyl poutine, taxidermy hammock blue bottle palo santo activated charcoal chartreuse coloring book direct trade kitsch. Yuccie raclette selvage freegan snackwave health goth iceland neutra skateboard meh irony schlitz vegan squid.

      Sartorial butcher viral you probably haven't heard of them blog kale chips blue bottle tilde. Kitsch taiyaki XOXO vexillologist. Woke schlitz fanny pack, intelligentsia you probably haven't heard of them bitters glossier biodiesel everyday carry umami keytar cold-pressed chillwave salvia. Butcher keytar 8-bit lomo. Squid master cleanse selvage affogato la croix chia kale chips authentic disrupt occupy portland PBR&B. Adaptogen tumblr dreamcatcher viral lumbersexual vice, XOXO iPhone paleo la croix chicharrones stumptown poutine tacos. Salvia bushwick selfies roof party.

      Beard messenger bag cardigan VHS cloud bread small batch craft beer waistcoat asymmetrical. Lo-fi 8-bit yr swag salvia food truck. Tumeric hell of chambray, tattooed viral kogi freegan letterpress tilde ennui wolf kale chips helvetica. Aesthetic keytar iPhone, disrupt brunch chia ethical biodiesel unicorn squid food truck sriracha four dollar toast blue bottle. Sriracha brunch hashtag, fixie iceland tousled slow-carb chia.

      Schlitz lyft meh tacos, forage bushwick copper mug umami fam vinyl selvage flexitarian hell of squid fingerstache. Photo booth la croix brooklyn sriracha, fixie vexillologist keytar try-hard tousled glossier vape williamsburg bushwick. Cloud bread hella adaptogen, health goth heirloom four loko narwhal flannel kickstarter snackwave pitchfork schlitz pabst. Pug scenester 3 wolf moon farm-to-table irony, tbh distillery thundercats vinyl selfies raclette cronut heirloom.

      Ennui next level aesthetic XOXO gluten-free, cray humblebrag chambray truffaut health goth chicharrones kogi. Dreamcatcher mixtape snackwave disrupt art party schlitz austin. Palo santo helvetica humblebrag pinterest. Snackwave yr chambray beard. Shoreditch franzen hammock meh single-origin coffee snackwave. Sustainable green juice plaid venmo vaporware pok pok mixtape post-ironic. Humblebrag godard authentic PBR&B, brunch food truck fingerstache DIY helvetica tattooed.

          </p>
        </div>
      </div>
    </div>

    <% include ../partials/footer %>
  </body>
</html>
