<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
  </head>
  <body>
    <% include ../partials/header %>


    <h1>Scott Rosehart</h1>
    <h2>Full stack dev</h2>
    <p>I was born...</p>
  </body>
</html>
