<h1>About</h1>

<p>
    Round these parts, what we like to do is write articles. If you don't like reading or writing articles, you best keep to yourself, feller. We write a mean list of articles, spicier than a barrel of habaneros in the Arizona sun. Keep yer eyes peeled, we hope you like what you see.
</p>