<div class="col-xs-12">
  <h1>ABOUT THE DAILY PLANET</h1>
  <p>To manipulate the fears in others, you must first master your own. Are you ready to begin?</p>

  <p>I think you and your friend have found the last game in town. where it hurts, their wallets. It's bold. You gonna count me in?</p>

  <p>I'm Gotham's reckoning. It'll end the ball of damns you've all been living on. A necessary evil.</p>

  <p>You have nothing, nothing to threaten me with. Nothing to do with all your strength.</p>

  <p>But we've met before. That was a long time ago, I was a kid at St. Swithin's, It used to be funded by the Wayne Foundation. It's an orphanage. My mum died when I was small, it was a car accident. I don't remember it. My dad got shot a couple of years later for a gambling debt. Oh I remember that one just fine. Not a lot of people know what it feels like to be angry in your bones. I mean they understand. The fosters parents. Everybody understands, for a while. Then they want the angry little kid to do something he knows he can't do, move on. After a while they stop understanding. They send the angry kid to a boy's home, I figured it out too late. Yeah I learned to hide the anger, and practice smiling in the mirror. It's like putting on a mask. So you showed up this one day, in a cool car, pretty girl on your arm. We were so excited! Bruce Wayne, a billionaire orphan? We used to make up stories about you man, legends and you know with the other kids, that's all it was, just stories, but right when I saw you, I knew who you really were. I'd seen that look on your face before. It's the same one I taught myself. I don't why you took the fault for Dent's murder but I'm still a believer in the Batman. Even if you're not...</p>

  <p>You fight like a younger man, there's nothing held back. It's admirable, but mistaken.</p>

  <p>Carbon fiber, .28 caliber, made in China. If you wanna kill a public servant, Mr Maroni... I recommend you buy American.</p>

  <p>Do you want my opinion? You need to lighten up.</p>

  <p>Bane was a member of the League of Shadows. And then he was excommunicated. And any man who is too extreme for Ra's Al Ghul, is not to be trifled with.</p>
  <hr>
</div>
