<% include ../partials/header.ejs %>

<h1>About The Daily Planet</h1>

<p>The Daily Planet is _THE_ safest newspaper in the world, since we (entirely unknowingly) employ Superman.</p>

<% include ../partials/footer.ejs %>