<% include ../partials/header.ejs %> 

<div class="container">
<h2>About</h2>
  <div class="col-sm-4 breadcrumb">
    <p>
    Daily Planet is a newspaper in the fictional city of Metropolis. Did you know that Metropolis is right accross the bay from Gotham? Unfortunately I had to see Batman vs Superman, the shittiest movie I've seen all year, to find that out. Amy Adams works there apparently and Forrest Whitaker is her boss, as well as Clark Kent's. Whitaker thinks Kent should write more about sports???
    </p>
  </div>
<div>


<% include ../partials/footer.ejs %> 