<% include ../partials/header.ejs %>

  <h1>About The Daily Planet</h1>
  <p>The Daily Planet is a daily newspaper of Metropolis. Superman works there in his civilian identity as Clark Kent, along with fellow reporter Lois Lane, photographer Jimmy Olsen, business editor Lana Lang and editor-in-chief Perry White.</p>
  <h3>Cool Guys</h3>
  <ul>
    <li>Bruce Wayne - Owner</li>
    <li>Clark Kent - investigative reporter</li>
  </ul>
  <h3>History</h3>
  <p>The newspaper is said to be located in the heart of Metropolis, at the corner of Fifth Street and Concord Lane.[citation needed] One story claims the Planet began publication in 1775 and that George Washington wrote a guest editorial for the first daily edition.[3] The Daily Planet building's most distinguishing and famous feature is the enormous globe that sits on top of the building.</p>

<% include ../partials/footer.ejs %>