
<!DOCTYPE html>
<html>
<head>
  <title>About Daily Planet</title>
</head>

<body>

<h1> About Daily Planet </h1>

<h3> Daily Planet is a fake newspaper that hired Superman</h3>
<div> </div>
<h3> However, he wears glasses and nobody can tell who it is.</h3>
<div> </div>
<h3> It makes you question the capability of our investigative reporters, right? </h3>

</body>

</html>