<!DOCTYPE html>
<html>
<head>
  <title>About Daily Planet</title>
</head>
<body>
  <h1>About the Daily Planet</h1>
  <p>We are the world's formost news source, located in Tacoma, WA.</p>

  <a href="/">Home</a>

</body>
</html>