<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Daily Planet</title>
  </head>
  <body>
    <h1>Newspaper of the World</h1>
    <h2>Giving the man his news from around the world</h2>
  </body>
</html>
