<!DOCTYPE html>
  <html>
    <head>
      <title>About the Developer...</title>
    </head>
    <body>
      <h1>Scott Molsness</h1>
      <h2>Dev student</h2>
      <p>More info coming soon...</p>
    </body>
  </html>
