<% include ../partials/header.ejs %> 





<div class="container">
  <h2>Contact Us</h2>
  <address class="col-sm-4 breadcrumb">

  <strong>Daily Planet</strong><br>
  1355 Fake Street, Suite 223452345<br>
  Metropolis, America<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890</br>
  <a href="mailto:#">ForestWhitaker@daily-planet.com</a>
  </address>
</div>



<% include ../partials/footer.ejs %> 