<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <nav>
      <a href=".">Home</a>
      <a href="/articles">Articles</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="articles/new">New Articles</a>
    </nav>
  <h1>Contact info:</h1>
  <ul>
    <li>1-800-D-PLANET</li>
    <li>1800 Daily Planet Road, Seattle, WA</li>

  </ul>

  </body>
</html>
