<% include ../partials/header.ejs %>

<div class="container">
  <h2>Contact Daily Planet</h2>

  <p>Big Green Building<br>
  1243 Paper Rd.<br>
  Metropolis, NY</p>
  <p>567-283-9980<br>
  info@dailyplanet.net</p>
</div>

<% include ../partials/footer.ejs %>