<!DOCTYPE html>
  <html>
    <head>
      <title>Contact</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <body>
      <% include ../partials/nav.ejs %>
      <p style="text-align:center">You can contact the Daily Planet <a href="mailto:contact@dailyplanet.com">here</a></p>
    </body>
  </html>


