<!DOCTYPE html>
<html>
  <head>
    <title>Contact Express Daily Planet</title>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h2>Contact Us!</h2>
          <img style="width: 100%;" src="https://a0.thelateroomsgroup.com/moonstick/images/placeholders/mapplaceholder.836efba1.jpg" />
          <div class="row">
            <div class="col s6">
              <p>
              Lorem ipsum dolor amet wolf slow-carb gentrify succulents try-hard mustache gluten-free. YOLO tousled pitchfork gastropub gentrify vaporware activated charcoal godard small batch iPhone vice before they sold out pinterest. Chicharrones YOLO 3 wolf moon vinyl poutine, taxidermy hammock blue bottle palo santo activated charcoal chartreuse coloring book direct trade kitsch. Yuccie raclette selvage freegan snackwave health goth iceland neutra skateboard meh irony schlitz vegan squid.

        Sartorial butcher viral you probably haven't heard of them blog kale chips blue bottle tilde. Kitsch taiyaki XOXO vexillologist. Woke schlitz fanny pack, intelligentsia you probably haven't heard of them bitters glossier biodiesel everyday carry umami keytar cold-pressed chillwave salvia. Butcher keytar 8-bit lomo. Squid master cleanse selvage affogato la croix chia kale chips authentic disrupt occupy portland PBR&B. Adaptogen tumblr dreamcatcher viral lumbersexual vice, XOXO iPhone paleo la croix chicharrones stumptown poutine tacos. Salvia bushwick selfies roof party.
              </p>
            </div>
            <div class="col s6">
              <form>
                <input type="text" placeholder="Name" />
                <input type="text" placeholder="Email" />
                <input type="text" placeholder="Message" />
                <button class="waves-effect waves-light btn">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include ../partials/footer %>
  </body>
</html>
