<% include ../partials/header.ejs %>

<div class="centerit">
<h2>Contact Us!</h2>
  </div>
 <div class="centerit">
 <p class="center-text">Perry White (Editor): <a href="#">perry@dailyplanet.com</a></p>
 <p class="center-text">Clark Kent (Errand Boy/Superman): <a href="#">clark@dailyplanet.com</a></p>
</div>


<% include ../partials/footer.ejs %>