<% include ../partials/header.ejs %>

<h2>Contact Daily Planet</h2>

<p>Big Green Building
1243 Paper Rd.
Metropolis, NY</p>
<p>567-283-9980</p>
<p>info@dailyplanet.net<p>


<% include ../partials/footer.ejs %>