<% include ../partials/header.ejs %>
<h1>Contact</h1>

<h3>Phone</h3>
<h4>206.555.1234</h4>


<form action="/articles" method="POST">
	<input type="text" name="email" placeholder="email">
	<input type="submit">
</form>



<% include ../partials/footer.ejs %>