
<!DOCTYPE html>
<html>
<head>
  <title>About Daily Planet</title>
</head>

<body>

<h1> Contact Daily Planet </h1>

<h3> Feel free to use our "post a new article" n the front page. </h3>

<h4> Call 555-5555 to reach our customer service line. </h4>


</body>

</html>