<% include ../partials/header.ejs %>

<h1>Contact The Daily Planet</h1>

<p>The best way to contact The Daily Planet is by doing something dastardly in order to try and take over the world; after that, Superman will come stop you, and then we'll interview you.</p>

<% include ../partials/footer.ejs %>