<% include ../partials/header.ejs %>

<h1>Contact the Daily Planet</h1>

<p> Thank you for engaging with folks who engage with your community. This is all very engaging for us all. </p>

<form>
  <input type="text" name="name" placeholder="your name">
  <input type="text" name="email" placeholder="your email">
  <input type="text" name="message" placeholder="your message">
  <input type="submit">
</form>

<% include ../partials/footer.ejs %>
