<% include ../partials/header.ejs %>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation" class="active"><a href="/contact">Contact</a></li>
  <li role="presentation"><a href="/about">About</a></li>
  <li role="presentation"><a href="/articles">Articles</a></li>
</ul>
<h1>Contact</h1>
<h3>ckent@planet.com<br>tel: 360-555-1234</h3>

<% include ../partials/footer.ejs %>