<!DOCTYPE html>
<html>
  <head>
    <title>Contact the Daily Planet</title>
  </head>
  <body>
    <h1>We used to have a phone</h1>
    <p>Visit us instead. We promise we'll have coffee</p>
  </body>
</html>
