<% include ../partials/header.ejs %>
 <h1>Contact</h1>
  <ul>
    <li>Bruce Wayne - Owner theDarkKnight@yahoo.com</li>
    <li>Clark Kent - investigative reporter supermanCoolGuy@gmail.com</li>
  </ul>
<% include ../partials/footer.ejs %>