<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/new">Submit an article</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div id="container">
        <h1>Contact page</h1>
        <ul>
            <li><span>Phone:</span> (555) 555-5555</li>
            <li><span>Email:</span> info@ExpressDailyPlanet.com</li>
            <li><span>Address:</span> 123 N street, Seatle WA</li>
        </ul>
    </div>
</body>
</html>