<!DOCTYPE html>
<html>
  <head>
    <title>Express Daily Planet - Contact</title>
  </head>
  <body>
    <h1>Contact Us</h1>
    <p>Please don't. We are very tired and don't want to talk to you.</p>
  </body>
</html>
