<div class="col-xs-12">
  <h1>CONTACT</h1>
  <div class="col-xs-4">
    <div id="address">
      <h3>The Daily Planet</h3>
      <h4>1000 Broadway</h4>
      <h4>Metropolis, KS 66104</h4>
    </div>
    <div id="phone" class="">
      customer service: 555.555.5555
    </div>
  </div>
  <div class="col-xs-8 text-right">
    <img class="map" src="img/map.jpg" title="some random image I found"/>
  </div>
</div>
