<!DOCTYPE html>
<html>
  <head>
    <title>Express Daily Planet - Contact</title>
    <style>
      body {
        padding: 0px;
        margin: 0px;
        text-align: center;
      }

      header {
        background-color: #000000;
      }

      h1 {
        font-family: Times;
        color: #FFFFFF;
      }

      a {
        color: #FFFFFF;
      }

      div {
        display: inline-block;
        padding: 5px;
        margin: 5px;
      }
      </style>
  </head>
  <body>
    <header>
      <div><a href='/articles/new'>Submit a Story</a></div>
      <div><a href='/articles'>Today's Top Stories</a></div>
      <div><h1><a href='/'>Express Daily Planet</a></h1></div>
      <div><a href='/about'>About the Planet</a></div>
      <div><a href='/contact'>Contact Us</a></div>
    </header>
    <h1>Contact Us</h1>
    <p>Please don't. We are very tired and don't want to talk to you.</p>
  </body>
</html>
