<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
  </head>
  <body>
    <h1>email address</h1>
    <h2>thisisanemailaddress@email.com</h2>
    <h1>phone</h1>
    <h2>phone lines are down</h2>
  </body>
</html>
