<!DOCTYPE html>
  <html>
    <head>
      <title>Contact Us</title>
    </head>
    <body>
      <h1>email@dailyplanetfakeemail.com</h1>
      <h2>Phone...who makes phone calls these days??</h2>
    </body>
  </html>
