<h1>DAILY PLANET FRONT PAGE</h1>
<div class="col-xs-12 col-md-6 col-lg-4">
  <h2>Lorem Ipsum</h2>
  <p class="text-right">By Author Author</p>
  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <hr>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
  <h2>Hipster Ipsum</h2>
  <p class="text-right">By Author Author</p>
  <p class="text-justify">Tumeric yuccie viral ugh, pork belly bitters snackwave photo booth sriracha. Brooklyn DIY portland butcher, umami skateboard authentic gentrify offal af blog pop-up williamsburg. Irony tote bag pop-up, brunch woke everyday carry chia retro occupy authentic 90's selvage master cleanse. Sriracha neutra chillwave, cold-pressed banh mi bushwick pabst artisan hot chicken mlkshk gentrify freegan. Hashtag single-origin coffee cliche, wayfarers small batch direct trade polaroid hell of celiac. Woke bitters helvetica lomo. Gochujang keytar master cleanse chicharrones meditation tattooed microdosing yr kale chips asymmetrical, direct trade drinking vinegar roof party lomo you probably haven't heard of them.</p>
  <hr>
</div>
