<h1>HOME PAGE</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, eius ea ab omnis sed natus. Illum voluptatum voluptates sed, eveniet ex voluptas obcaecati eius enim quas vitae! Voluptas, optio beatae?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, eius ea ab omnis sed natus. Illum voluptatum voluptates sed, eveniet ex voluptas obcaecati eius enim quas vitae! Voluptas, optio beatae?</p>

<h2>Search for articles</h2>
<form action="/articles" method="GET">
    <input type="text" name="search" placeholder="what are you looking for?">
    <button type="submit">Find me something good!</button>
</form>