<h1>Welcome to the Daily Planet</h1>
<% let artLength = articles.length %>
<% let x = Math.floor(Math.random() * artLength) %>

<% console.log(x) %>

<h2><%= articles[x].title %></h2>
<h3><%= articles[x].author %></h3>
<p><%= articles[x].content %></p>
<!-- math.Random choose a number
then display that article number -->