<% include ../partials/header.ejs %>

<h1>Welcome to the Daily Planet</h1>
  <form action="/search" method="GET">
    <input type="text" name="search" placeholder="Search for Articles">
    <input type="submit">
  </form>

<% include ../partials/footer.ejs %>