<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Daily Planet Home Page</title>
  </head>
  <body>
    <nav>
      <% include ../partials/header %>


    <h1>Here's a bad home page</h1>
    <p>blah</p>

  </body>
</html>
