<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <ul>
      <li><a href="/articles">News</a></li>
      <li><a href="/articles/new">Post a New Article</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <h2>Hello to the back of the house!</h2>
    <h1>You've found: The Daily Planet</h1>
  </body>
</html>
