<% include ../partials/header.ejs %>

<form action="/search" method="GET">
  <input type="text" name="search" placeholder="Search articles">
  <input type="submit">
</form>

<% include ../partials/footer.ejs %>