<h3>Search Resuls:</h3>
<% searchResults.forEach(function(article){ %>
  <h4>
    <a href="/articles/show/<%- article.id %>"<%- article.title %></a>
  </h4>
  <p>
    <%- article.body %>
  </p>
<% }); %>
