body{
	background-image: url("https://farm1.staticflickr.com/1/185679814_0973186141_o_d.jpg");
	background-repeat: no-repeat;
	background-size: 1350px;
	font-family: 'Bangers', cursive;
	font-size: 35px;
	text-align: center;
}
