<!DOCTYPE html>
<html>
<head>
	<title>About Daily Planet</title>
</head>
<body>
	<h1>About Daily Planet</h1>
		<p>Daily Planet has been bringing breaking news to the world since 1991.</p>
		<p>Acclaimed as the most trusted news source in the Valley, let The Daily Planet keep you in the know.</p>

</body>
</html>