<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>About Me</h1>
		<a href="/">Back</a>
		<p>Hi everyone! My name is Jonathan Stevenson, I am a developer living in Seattle Washington</p>
		<p>check out my other work <a href="http://jonathanandrew.github.io/">Other Stuff</a></p>
	</div>

</body>
</html>