<!DOCTYPE html>
<html>
<head>
	<title>Contact Information</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>Here is my contact information</h1>
		<a href="/">Back</a>
		<p>Email: <span>joandrewstevenson@yahoo.com</span></p>
		<p>Phone Number: <span>123-456-7890</span></p>
		<p>GIVE ME A CALL SOMETIME!</p>
	</div>
</body>
</html>