<!DOCTYPE html>
<html>
<head>
	<title>Daily Planet Contact</title>
</head>
<body>
	<h1>Contact The Daily Planet</h1>
		<p>Tel: (123) 456-7890</p>
		<p>Email: thedailyplanet@gmail.com</p>

</body>
</html>