body {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: skyblue;
}
input {
    padding: 15px;
}
ul {
    list-style-type: none;
}
li {
    text-align: center;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
a {
    text-decoration: none;
}
nav {
    background-color: aquamarine;
}
nav a:hover {
    background-color: aqua;
}
.hightlight {
    text-decoration: underline;
}